
@{
    ViewData["Title"] = "Index";
}

<html>
    <head>
        <title>Pagina Principal</title>
    </head>

    <body>
        <p>Prueba 1</p>
        <button>Inciar Sesion</button>
        </body>
</html>


